@import "./variables.css";

body {
  background-color: var(--clr-lightGrayishBlue);
  font-family: var(--ff-base);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}
